@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Arvo", serif; */
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url("foods-wallpaper-hd.jpg");
  background-position: center;
  background-size: cover;
}

/* Sidebar Menu */
.menu-sidebar {
  position: fixed;
  left: 0vw;
  top: 0px;
  bottom: 0px;
  width: 20vw;
  padding: 1vw 2vw 2vw;
  border-width: 1px 3px 5px 1px;
  border-color: #000 #2d2d2d #000 #000;
  border-style: none solid solid none;
  background-image: linear-gradient(
      180deg,
      rgba(21, 21, 21, 0.64),
      rgba(21, 21, 21, 0.64)
    ),
    url("wood.jpg");
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  text-align: center;
  font-family: "Arvo", serif;
}

.menu-header {
  font-weight: 700;
  color: #fff;
}

.menu-header h2 {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-top: 1rem;
}

.menu-header hr {
  width: 65%;
  margin: 4px auto;
  border-style: outset;
  border-width: 3px;
  border-block-color: #a3a3a3;
}

.items {
  list-style-type: none;
  color: #fff;
  font-weight: 600;
}

.items ul {
  margin: 4rem auto 0;
  overflow: hidden;
  height: 300px;
}

.items ul li {
  font-weight: 700;
  display: block;
  padding: 4px;
}

.refresh-btn {
  font-family: "Arvo", serif;
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #e6c542;
  border: none;
  padding: 10px 40px;
  margin-top: 1rem;
}

.refresh-btn:hover {
  color: #000;
}

/*  */

.container {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
h3 {
  text-align: center;
  margin-bottom: 40px;
  color: #777;
}
.container form {
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: 0.5s;
}
form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
::placeholder {
  color: #777;
}
.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#Form2 {
  left: 450px;
}
#Form3 {
  left: 450px;
}
.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
.step-col {
  width: 120px;
  text-align: center;
  color: #333;
  position: relative;
}
#progress {
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #ff105f, #ffad06);
  transition: 0.5s;
}
#progress::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #ffad06;
}
